h1, h2, p, ul, ol {
    
}
*{
    background-color: rgb(206, 206, 206);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    min-height: auto;
    font-family: "American Typewriter", serif;
    font-size: 20px;
   
    
}
h2{
    text-decoration: underline;
    font-size: 40px;

}
img {
    border: 3px solid black;
    margin-left: 0px;
    align-items: center;
}
h1{
    font-size: 80px;
    

}
a{
    font-size: 40px;
    color: black;
    font-style: Arial;
    text-decoration: none;

}


li{
    text-align: left;
}

footer p{
    
    text-align: center;
    
    background-color: rgb(126, 148, 124);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    
    
    
}
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0px;
    margin-top: 0px;
    height: -20px;
    padding-top: 0px;
    padding-right: 0px;
}

body{
    margin-bottom:-100px;
    max-width: 1000px;
    margin-left: auto;
    margin-right:auto;
    padding-bottom: 100 px;
}
